Audioketab.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
Audioketab/.DS_Store

Audioketab.xcodeproj/xcuserdata/michaelf.xcuserdatad/xcschemes/Audioketab.xcscheme

Audioketab.xcodeproj/xcuserdata/michaelf.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store
